<?xml version="1.0" encoding="UTF-8"?>
<!-- Launches AMCL with uniform random particles, launches Rviz -->

<launch>

  <!-- amcl -->
  <!--    
  To set a different argument via the command-line: 
  roslaunch particle_filter exercise1.launch max_particles:=5000 
  -->
  <arg name="min_particles"   default="10"/>
  <arg name="max_particles"   default="2000"/>

  <include file="$(find particle_filter)/launch/amcl_robot.launch" >
    <arg name="min_particles"   default="$(arg min_particles)"/>
    <arg name="max_particles"   default="$(arg max_particles)"/>
  </include>

  <!-- Determine whether to launch AMCL with uniform random particles or not -->
  <arg name="uniform_random_particles" default="true" />
  <!-- set amcl with uniform random particles -->
  <node if="$(arg uniform_random_particles)" pkg="rosservice" type="rosservice" name="global_loc" args="call --wait /global_localization" />


  <!-- Determine whether to run Rviz or not & set Rviz config file-->
  <arg name="use_rviz" default="true" />
  <arg name="rvizconfig" default="$(find particle_filter)/rviz/amcl_exercise1.rviz"/>
  <!-- Launching Rviz -->
  <node if="$(arg use_rviz)" name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(arg rvizconfig)"/>

</launch>